.Feature {
  color: white;
  padding: 15px 0;
}

.Feature__title {
  font-size: 4rem;
  font-weight: 700;
}

.Feature__desc {
  font-size: 1.5rem;
  margin-top: 15px;
}

@media (max-width: 992px) {
  .Feature__title {
    font-size: 3rem;
  }
}
