.Footer {
  color: #757575;
  font-size: 0.8rem;
}

.Footer__menu {
  margin-top: 20px;
}

.Footer__languagePicker {
  margin-top: 25px;
  color: #757575;
  border-color: #757575;
  padding: 8px 0;
  font-size: 1rem;
  width: 150px;
}

.Footer__languagePicker select {
  font-size: 1rem;
  padding-left: 40px;
}
